<?xml version='1.0'?>

<launch>
		<arg name="filename" default="$(find gps_positioning)/gps_data/gps_data.yaml"/>


	<node name="create_gps_position" pkg="gps_positioning" type="create_gps_position" output="screen">
		<param name="filename" value="$(arg filename)"/>
		<remap from="finish_pose" to="move_base_simple/goal"/>
	</node>

</launch>
